<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/PUBLIC/CSS/recruiter_style.css">
    <link rel="shortcut icon" href="/PUBLIC/ASSETS/IMAGES/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Recruiter Login</title>
</head>
<body>
    <section class="recruiter-form">
        <div class="recruiter-from-image-container">
            <div class="overlay-div"></div>
        </div>
        <main class="recruiter-form-container">
            <header class="form-header">
                <h1>Forgot Password</h1>
                <p>Enter your registered E-mail id and we will send you 4-digit otp</p>
            </header>
            <div class="form-box">
                <form action="/jobCreator/forgotPassword" method="post">
                    <div class="input-box">
                        <input type="text" name="email" id="email" placeholder="E-mail ID">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <p class="message"><%= errorMsg %></p>
                    <button class="form-btn">Send OTP</button>

                </form>
            </div>
        </main>
    </section>
</body>
</html>