<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/PUBLIC/CSS/recruiter_style.css">
    <link rel="shortcut icon" href="/PUBLIC/ASSETS/IMAGES/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Reset Password</title>
</head>
<body>
    <section class="recruiter-form">
        <div class="recruiter-from-image-container">
            <div class="overlay-div"></div>
        </div>
        <main class="recruiter-form-container">
            <header class="form-header">
                <h1>Reset Password</h1>
                
            </header>
            <div class="form-box">
                <form action="/jobCreator/reset_password" method="post">
                    <div class="input-box">
                        <input type="password" name="new_password" id="pasword" placeholder="New Password">
                        <i class="fa-solid fa-eye-slash" id="password-icon"></i>
                    </div>

                    <div class="input-box">
                        <input type="password" name="confirm_password" id="pasword" placeholder="Confirm Password">
                        <i class="fa-solid fa-eye-slash" id="password-icon"></i>
                    </div>

                    <p class="message"><%= errorMsg %></p>

                    <button class="form-btn">Submit</button>

                </form>
            </div>
        </main>
    </section>

    <script>
        const togglePassword = document.getElementById('password-icon');
        const password = document.getElementById('password');

        togglePassword.addEventListener('click', function (e) {
            let type = password.getAttribute('type');
            if (type === 'password') {
                password.setAttribute('type', 'text');
                togglePassword.classList.remove('fa-eye-slash');
                togglePassword.classList.add('fa-eye');
            }else{
                password.setAttribute('type', 'password');
                togglePassword.classList.remove('fa-eye');
                togglePassword.classList.add('fa-eye-slash');
            }
        });

        const togglePassword2 = document.getElementById('password-icon2');
        const password2 = document.getElementById('password2');

        togglePassword2.addEventListener('click', function (e) {
            let type = password2.getAttribute('type');
            if (type === 'password') {
                password2.setAttribute('type', 'text');
                togglePassword2.classList.remove('fa-eye-slash');
                togglePassword2.classList.add('fa-eye');
            }else{
                password2.setAttribute('type', 'password');
                togglePassword2.classList.remove('fa-eye');
                togglePassword2.classList.add('fa-eye-slash');
            }
        });
    </script>
</body>
</html>