<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <script src="/function/Babel.js"></script>
    <script src="/function/React.js"></script>
    <script src="/function/ReactDOM.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container">
        <div class="formsDiv">
            <div class="leftContainer formContainer">
                <img src="/public/assets/images/form_images/resetpassword.png" alt="resetpassword" /> 
            </div>
            <div class="rightContainer formContainer">
                <h1 class='formTitle'>Reset Password</h1>
                <div class="formBox">
                    <form action="/jobSeeker/changePassword" method="post">
                        <div class="formInputBox">
                            <input type="password" placeholder="Current Password" name="oldPassword" class='formInput'id="password" required/>
                            <i class="fa-solid fa-eye-slash formIcons" id="password-icon"></i>
                        </div>
                        <div class="formInputBox">
                            <input type="password" placeholder="New Password" name="newPassword" class='formInput' id="password2" required/>
                            <i class="fa-solid fa-eye-slash formIcons" id="password-icon2"></i>
                        </div>
                        <div class="formInputBox">
                            <input type="password" placeholder="Confirm Password" name="con_password" class='formInput' id="password3" required/>
                            <i class="fa-solid fa-eye-slash formIcons" id="password-icon3"></i>
                        </div>

                        <span style="color: red;"><%= errorMsg %></span>
                        <button class='formButton' type="submit">Submit</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
  </body>


  <script>
    const togglePassword = document.getElementById('password-icon');
    const password = document.getElementById('password');

    togglePassword.addEventListener('click', function (e) {
        let type = password.getAttribute('type');
        if (type === 'password') {
            password.setAttribute('type', 'text');
            togglePassword.classList.remove('fa-eye-slash');
            togglePassword.classList.add('fa-eye');
        }else{
            password.setAttribute('type', 'password');
            togglePassword.classList.remove('fa-eye');
            togglePassword.classList.add('fa-eye-slash');
        }
    });

    const togglePassword2 = document.getElementById('password-icon2');
    const password2 = document.getElementById('password2');

    togglePassword2.addEventListener('click', function (e) {
        let type = password2.getAttribute('type');
        if (type === 'password') {
            password2.setAttribute('type', 'text');
            togglePassword2.classList.remove('fa-eye-slash');
            togglePassword2.classList.add('fa-eye');
        }else{
            password2.setAttribute('type', 'password');
            togglePassword2.classList.remove('fa-eye');
            togglePassword2.classList.add('fa-eye-slash');
        }
    });

    const togglePassword3 = document.getElementById('password-icon3');
    const password3 = document.getElementById('password3');

    togglePassword3.addEventListener('click', function (e) {
        let type = password3.getAttribute('type');
        if (type === 'password') {
            password3.setAttribute('type', 'text');
            togglePassword3.classList.remove('fa-eye-slash');
            togglePassword3.classList.add('fa-eye');
        }else{
            password3.setAttribute('type', 'password');
            togglePassword3.classList.remove('fa-eye');
            togglePassword3.classList.add('fa-eye-slash');
        }
    });
  </script>
</html>
