<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <script src="/function/Babel.js"></script>
    <script src="/function/React.js"></script>
    <script src="/function/ReactDOM.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container" id="root">
      <div class="formsDiv">
        <div class="leftContainer formContainer">
            <img src="/public/assets/images/form_images/forgetpassword.png" alt="login-img" /> 
        </div>
        <div class="rightContainer formContainer">
            <h1 class='formTitle'>Forgot Password</h1>
            <div class="formBox">
                <form action="/jobSeeker/forgot_password" method="post">
                    <div class="formInputBox">
                        <input type="email" placeholder="Email Id" name="emailID" class='formInput' required/>
                        <i class="fa-solid fa-envelope formIcons"></i>
                    </div>
                    <span style="color: red;"><%= errorMsg %></span>
                    <button class='formButton'>Send OTP</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
