<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <script src="/function/Babel.js"></script>
    <script src="/function/React.js"></script>
    <script src="/function/ReactDOM.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container">
        <div class="formsDiv">
            <div class="leftContainer formContainer">
                <img src="/public/assets/images/form_images/resetpassword.png" alt="resetpassword" /> 
            </div>
            <div class="rightContainer formContainer">
                <h1 class='formTitle'>Reset Password</h1>
                <div class="formBox">
                    <form action="/jobSeeker/reset_password" method="post">
                        <div class="formInputBox">
                            <input type="password" placeholder="New Password" name="password" class='formInput' id="password" required/>
                            <i class="fa-solid fa-eye-slash formIcons" id="password-icon"></i>
                        </div>
                        <div class="formInputBox">
                            <input type="password" placeholder="Confirm Password" name="con_password" class='formInput' required/>
                            <i class="fa-solid fa-eye-slash formIcons"></i>
                        </div>
                        <span style="color: red;"><%= errorMsg %></span>
                        <button class='formButton' type="submit">Submit</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <script>
        const togglePassword = document.getElementById('password-icon');
        const password = document.getElementById('password');

        togglePassword.addEventListener('click', function (e) {
            let type = password.getAttribute('type');
            if (type === 'password') {
                password.setAttribute('type', 'text');
                togglePassword.classList.remove('fa-eye-slash');
                togglePassword.classList.add('fa-eye');
            }else{
                password.setAttribute('type', 'password');
                togglePassword.classList.remove('fa-eye');
                togglePassword.classList.add('fa-eye-slash');
            }
        });
    </script>
  </body>
</html>
